<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONFIGURATION" value="HARRY ROSEN"/>
    <add key="ENVIRONMENT" value="QA"/>
    <add key="SUITE" value="BATS"/>
    <add key ="SCREENSHOTDIR" value="C:\\JestaDesktopAutomation\\VisionStore\\Automation\\Screenshots"/>
    <add key ="AUTOMATIONDIR" value="C:\\JestaDesktopAutomation\\VisionStore\\Automation\\"/>
  </appSettings>
</configuration>